<div class="post">
    <h3><%= post.title %></h3>

    <div class="post_body">
        <%= post.body %>
    </div>

    <ul class="actions">
        <li class="view_post"><a href="#"><%= app.options.keepReadingText %></a></li>
        <li class="edit_post"><a href="#"><%= app.options.editPostText %></a></li>
        <li class="delete_post"><a href="#"><%= app.options.deletePostText %></a></li>
        <li class="show_list"><a href="#"><%= app.options.showPostListText %></a></li>
    </ul>
</div>
